.bounce{
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes jump{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);

    }

    100%{
        transform: translateY(0px);
    }
}

.bouncenew{
    animation-name: jump;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes jump{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);

    }

    100%{
        transform: translateY(0px);
    }
}